body{
	background-color: black;
	color: white;
	text-align: center;
	max-width: 600px;
    margin: auto;
	font-family: 'Open Sans', sans-serif;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}

li{
    display: inline;
}

a{
	color:white;
}

a:hover { color: #D3D3D3;                        }

.zine{

}

.textbar{
		padding:1000;
}

logo {
	width: 400px;
}
